<template>
  <div class="select">
    <div
      :class="[
        'select__header',
        { 'select__header--placeholder': hasPlaceholder },
        { 'select__header--active': isActive }
      ]"
      tabindex="0"
      @click="isActive = !isActive"
      @keypress.enter="isActive = !isActive"
    >
      {{ text }}
    </div>
    <div v-if="isActive" class="select__body">
      <div
        v-if="isAnySelected && resetable"
        class="select__item"
        tabindex="0"
        @click="reset"
        @keypress.enter="reset"
      >
        Сбросить фильтр
      </div>
      <div
        v-for="(item, i) in items"
        :key="i"
        class="select__item"
        :class="item.type ? `select__item--${item.type}` : ''"
        tabindex="0"
        @click="selectItem(item)"
        @keypress.enter="selectItem(item)"
      >
        {{ item.name }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SelectItem',
  props: {
    items: Array,
    defaultText: String,
    resetable: Boolean,
  },
  emits: ['select-item', 'reset-orders'],
  data() {
    return {
      isActive: false,
      isAnySelected: false,
      text: '',
      hasPlaceholder: true,
    };
  },
  mounted() {
    if (this.defaultText) {
      this.text = this.defaultText;
    }
  },
  methods: {
    selectItem(item) {
      this.isAnySelected = true;
      this.text = item.name;
      this.hasPlaceholder = false;
      this.isActive = false;
      this.$emit('select-item', item);
    },
    reset() {
      this.text = this.defaultText;
      this.hasPlaceholder = true;
      this.isActive = false;
      this.isAnySelected = false;
      this.$emit('reset-orders');
    },
  },
};
</script>
