<template>
  <table class="table">
    <thead>
      <th class="table__th">ID</th>
      <th class="table__th">Номер накладной</th>
      <th class="table__th">Тип заказа</th>
      <th class="table__th">Дата создания</th>
      <th class="table__th table__th--empty"></th>
    </thead>
    <tbody>
      <tr
        v-for="order in orders"
        :key="order.id"
        class="table__tr"
      >
        <td class="table__td table__td--id">{{ order.id }}</td>
        <td class="table__td table__td--number">{{ order.number }}</td>
        <td class="table__td table__td--type">{{ order.type }}</td>
        <td class="table__td table__td--date">{{ order.creationDate }}</td>
        <td class="table__td table__td--menu">
          <button
            type="button"
            class="main__button"
            @click="$event.target.classList.toggle('main__button--active')"
          >
            <img src="/icons/menu.png" alt="show menu">
            <div
              class="main__menu"
              tabindex="0"
              @click="removeOrder(order.id)"
              @keypress.enter="removeOrder(order.id)"
            >
              <span>удалить</span>
            </div>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  name: 'TableList',
  props: ['orders'],
  methods: {
    removeOrder(id) {
      this.$store.commit('removeOrder', id);
    },
  },
};
</script>
