<template>
  <div class="widget">
    <div
      v-for="order in orders"
      :key="order.id"
      class="widget__item"
    >
      <div class="widget__header">
        <span class="widget__value">{{ order.id }}</span>
        <button
            type="button"
            class="main__button"
            @click="$event.target.classList.toggle('main__button--active')"
          >
            <img src="/icons/menu.png" alt="show menu">
            <div
              class="main__menu"
              tabindex="0"
              @click="removeOrder(order.id)"
              @keypress.enter="removeOrder(order.id)"
            >
              <span>удалить</span>
            </div>
          </button>
      </div>
      <div class="widget__body">
        <div class="widget__block">
          <div class="widget__text">Номер накладной:</div>
          <div class="widget__value">{{ order.number }}</div>
        </div>
        <div class="widget__block">
          <div class="widget__text">Тип заказа:</div>
          <div class="widget__value">{{ order.type }}</div>
        </div>
        <div class="widget__block">
          <div class="widget__text">Дата создания:</div>
          <div class="widget__value">{{ order.creationDate }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'WidgetList',
  props: ['orders'],
  methods: {
    removeOrder(id) {
      this.$store.commit('removeOrder', id);
    },
  },
};
</script>
