<template>
  <div id="app" class="main">
    <header class="main__header">
      <div class="title">Тестовое задание</div>
    </header>
    <main class="main__body">
      <div class="main__filter">
        <div class="main__filter-title">Фильтр</div>
        <div class="main__group">
          <label class="main__subtitle" for="note-number">
            Номер накладной:
            <input
              id="note-number"
              class="main__input"
              type="text"
              placeholder="Введите фрагмент"
              v-model="noteNumber"
            >
          </label>
        </div>
        <div class="main__group">
          <div class="main__subtitle">Тип заказа:</div>
          <select-item
            class="select--filter"
            :items="filterItems"
            resetable
            defaultText="Выберите из списка"
            @select-item="(item) => filtration = item.name"
            @reset-orders="filtration = null"
          />
        </div>
      </div>
      <div class="main__list">
        <div class="main__wrapper">
          <div class="main__sort">
            <select-item
              class="select--sort"
              :items="sortItems"
              defaultText="Сортировка"
              @select-item="(item) => sorting = item.type"
            />
          </div>
          <div class="main__controls">
            <router-link
              :class="[
                'main__control',
                'main__control--widget',
                {'main__control--active' : $route.path === '/widget' }
              ]"
              to="/widget"
            >
              <img src="/icons/widget.png" alt="Widget view"/>
            </router-link>
            <router-link
              :class="[
                'main__control',
                'main__control--table',
                {'main__control--active' : $route.path === '/table' }
              ]"
              to="/table"
            >
              <img src="/icons/table.png" alt="Table view"/>
            </router-link>
          </div>
        </div>
        <router-view :orders="orders" />
      </div>
    </main>
  </div>
</template>

<script>
import SelectItem from '@/components/SelectItem.vue';

export default {
  data() {
    return {
      noteNumber: '',
      sorting: null,
      filtration: null,
      sortItems: [
        {
          name: 'По убыванию',
          type: 'descending',
        },
        {
          name: 'По возрастанию',
          type: 'increase',
        },
      ],
      filterItems: [
        { name: 'Курьерская доставка' },
        { name: 'Доставка в пункт выдачи' },
        { name: 'Самовывоз' },
      ],
    };
  },
  components: { SelectItem },
  computed: {
    currentRoute() {
      return this.$route.path;
    },
    orders() {
      let filteredOrders = this.$store.getters.orders;

      if (filteredOrders.length) {
        if (this.sorting) {
          filteredOrders = this.sortOrders(this.sorting, filteredOrders);
        }
        if (this.filtration) {
          filteredOrders = this.filterOrders(this.filtration, filteredOrders);
        }
        if (this.noteNumber) {
          filteredOrders = this.searchOrders(this.noteNumber, filteredOrders);
        }
      }
      return filteredOrders;
    },
  },
  mounted() {
    this.$store.dispatch('getOrders');
  },
  methods: {
    sortOrders(type, arr) {
      let sortedArray = [];
      if (type === 'increase') {
        sortedArray = arr.sort((a, b) => {
          if (a.id < b.id) {
            return -1;
          }
          if (a.id > b.id) {
            return 1;
          }
          return 0;
        });
      } else {
        sortedArray = arr.sort((a, b) => {
          if (a.id < b.id) {
            return 1;
          }
          if (a.id > b.id) {
            return -1;
          }
          return 0;
        });
      }
      return sortedArray;
    },
    filterOrders(type, arr) {
      return arr.filter((item) => item.type === type);
    },
    searchOrders(str, arr) {
      return arr.filter((item) => item.number.includes(str));
    },
  },
};
</script>
