.title {
    width: 1440px;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    margin: 0 auto;
    padding: 0 110px;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main {
    &__header {
        width: 100%;
        height: 260px;
        display: flex;
        align-items: center;
        background-image: linear-gradient(267.21deg, #900793 0.16%, rgba(134, 4, 137, 0.785707) 0.16%, rgba(159, 12, 162, 0.762269) 43.22%, rgba(5, 1, 190, 0.734375) 98.12%, rgba(0, 28, 126, 0.619792) 100.15%, rgba(6, 77, 142, 0.447917) 102.03%, rgba(1, 0, 60, 0) 102.73%);
    }

    &__body {
        background-color: $bg-color;
        min-height: 800px;
        padding: 32px 116px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    
    &__filter {
        width: 280px;
        background-color: #fff;
        padding-top: 8px;
        padding-bottom: 16px;
        margin-right: 17px;
        filter: drop-shadow(0px 4px 8px rgba(179, 178, 178, 0.25));
    }

    &__filter-title {
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        padding: 0 16px;
        padding-bottom: 8px;
        margin-bottom: 16px;
        border-bottom: 1px solid #F8F8F8;
    }
    
    &__group {
        padding: 0 16px;
        margin-bottom: 16px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__subtitle {
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
    }

    &__input {
        width: 100%;
        margin-top: 4px;
        padding: 8px 12px;
        border: 1px solid $border-color;
        &::placeholder {
            font-size: 14px;
            font-weight: 400;
            color: $placeholder-color;
        }
    }
    
    &__list {
        display: flex;
        flex-direction: column;
    }

    &__wrapper {
        display: flex;
        margin-bottom: 16px;
    }

    &__sort {
        width: 815px;
        padding: 16px;
        margin-right: 16px;
        background-color: #fff;
        box-shadow: 0px 4px 12px #E7E7E7;
        border-radius: 3px;
    }

    &__controls {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__control {
        cursor: pointer;
        border: 1px solid #647A8C;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;

        &--active {
            background-color: #E5E9EC;
        }

        &--widget {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        &--table {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }

    &__button {
        position: relative;
        cursor: pointer;
        border: none;
        background-color: inherit;
        padding: 5px 10px;

        & img {
            pointer-events: none;
        }

        &--active .main__menu {
            display: block;
        }
    }

    &__menu {
        display: none;
        cursor: pointer;
        z-index: 1;
        position: absolute;
        top: 100%;
        right: 6px;
        width: 148px;
        padding: 12px 15px;
        padding-left: 36px;
        border-radius: 2px;

        background-color: #fff;
        box-shadow: 0px 4px 4px rgba(182, 182, 182, 0.25);
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: left;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 15px;
            transform: translate(0, -50%);
            width: 10px;
            height: 12px;
            background-image: url('../../public/icons/trash.png');
        }

        &:hover {
            color: #045DA7;

            &.table__menu::before {
                background-image: url('../../public/icons/bluetrash.png');
            }
        }
    }
}