.select {
    position: relative;

    &--filter {
        margin-top: 4px;
        width: 100%;

        & .select__header--placeholder {
            font-size: 14px;
            font-weight: 400;
            color: $placeholder-color;
        }
    }

    &--sort {
        width: 232px;

        & .select__header--placeholder {
            font-size: 14px;
            font-weight: 700;
            line-height: 16px;
        }
    }

    &__header {
        cursor: pointer;
        position: relative;
        padding: 8px 12px;
        padding-right: 25px;
        border: 1px solid $border-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;

        &--active.select__header::after {
            transform: translate(0, -50%) rotate(0deg);
        }

        &::after {
            content: '';
            position: absolute;
            right: 12px;
            top: 50%;
            transition-property: transform;
            transition-duration: 0.3s;
            transform: translate(0, -50%) rotate(180deg);

            width: 10px;
            height: 6px;
            background-image: url('../../public/icons/arrow.png');
        }
    }

    &__body {
        position: absolute;
        top: 100%;
        width: 100%;
        border: 1px solid $border-color;
    }

    &__item {
        cursor: pointer;
        position: relative;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        padding: 8px 12px;
        padding-right: 25px;
        border-bottom: 1px solid $border-color;
        background-color: #fff;

        &:last-of-type {
            border-bottom: none
        }

        &--increase::after, &--descending::after {
            content: '';
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translate(0, -50%);

            width: 16px;
            height: 16px;
        }

        &--increase::after {
            background-image: url('../../public/icons/downup.png');
        }

        &--descending::after {
            background-image: url('../../public/icons/updown.png');
        }
    }
}