.table {
    border-collapse: collapse;
    border: 1px solid #E6E6E6;
    border-top: none;

    &__th {
        height: 40px;
        background-color: #E6E6E6;
        border-right: 3px solid $bg-color;

        &:last-of-type {
            border-right: none;
        }
    }

    &__tr {
        background-color: #fff;
        border-bottom: 1px solid #E6E6E6;
        
        &:last-of-type {
            border-bottom: none;
        }
    }

    &__td {
        padding: 8px 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;

        &--id {
            min-width: 134px;
            padding-left: 16px;
        }

        &--number {
            min-width: 244px;
        }

        &--type {
            min-width: 189px;
        }

        &--date {
            min-width: 268px;
        }

        &--menu {
            min-width: 65px;
            text-align: center;
        }
    }
}