.widget {
    display: flex;
    flex-wrap: wrap;
    width: 920px;

    &__item {
        display: flex;
        flex-direction: column;
        margin-right: 16px;
        margin-bottom: 16px;
        width: 290px;
        background-color: #F6FAFB;
        box-shadow: 0px 4px 12px #EBEBEB;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 16px;
        background-color: #EDE8F580;
    }

    &__value {
        flex-basis: 50%;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
    }

    &__body {
        padding: 8px 16px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__block {
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;
    }

    &__text {
        flex-basis: 50%;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #647A8C;
    }
}